body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    margin: 600px;
}

.logo {
    width: 380px;
    height: 70px;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
}

.label-conectado {
    color: #ff6600;
}

.custom-label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.custom-label-green {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #00ff0d;
}

.custom-dialog {
    width: 480px !important;
}

.custom-logo {
    position: fixed;
    top: 105px; /* Ajuste conforme necessário */
    left: 3px; /* Ajuste conforme necessário */
    z-index: 1000; /* Garante que a imagem fique acima de outros elementos */
}

.custom-logo2 {
    position: fixed;
    top: 150px; /* Ajuste conforme necessário */
    left: 930px; /* Ajuste conforme necessário */
    z-index: 1000; /* Garante que a imagem fique acima de outros elementos */
}

