body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    margin: 600px;
}

.logo {
    width: 380px;
    height: 70px;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
}

.label-conectado {
    color: #ff6600;
}

.custom-label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.custom-label-green {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #00ff0d;
}

.custom-dialog {
    width: 640px !important;
}

.ui-datepicker .ui-datepicker-calendar thead {
    display: none;
}

.recuperar-dialog {
    width: 340px !important;
    height: 210px !important;
}

.form-recuperar-senha {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: 600px;
}

.recuperar-senha-image {
    position: absolute;
    left: 830px;
    top: 230px;
    width: 200px;
    height: 200px;
}

.sem-autorizacao {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    margin: 600px;
}

.sem-autorizacao-image {
    position: absolute;
    left: 830px;
    top: 200px;
    width: 200px;
    height: 200px;
}

#password-strength {
    font-weight: bold;
    font-size: 0.9em;
}